@page "{slug}"

@inherits Show

@functions {

    public Episode CurrentEpisode {get; set;}
    
    public async Task OnGetAsync(string slug)
    {
        CurrentEpisode = await GetEpisode(slug);
    }
    
}

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Show = CurrentEpisode;
}

<audio id="audio-@CurrentEpisode.Slug" preload="none" src="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)"></audio>
<div class='container'> 
    <div class='column span-24 tmargin-36' id='show'> 
        <div class='column span-11 prepend-1 append-2'>
            <div class="column span-11 bpad-24">
               <img src="@Href("~/Images/" + CurrentEpisode.LeadImage)"
                    alt="@CurrentEpisode.Title" width="440"/>
            </div>
    <h1>@CurrentEpisode.Title</h1>
            <div class="column span-11 bpad-12">
                <twitter-tweet title="@CurrentEpisode.Title" slug="@CurrentEpisode.Slug"></twitter-tweet>
            </div>
            <div class="column span-24 bmargin-24">
                <facebook-recommend slug="@CurrentEpisode.Slug"></facebook-recommend>
            </div>
            <h2>
                <a href="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)">
                    Download Here
                </a>
                
            </h2>
            @await Html.PartialAsync("_" + CurrentEpisode.Slug)
        
        </div>
        <div class='column span-6'> 
            <div class='column player'>
                
                  <audio class="margin_top" style="width: 300px; display: block;" id="tdl-podcast" preload="none" controls src="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)"></audio>

            </div> 
      </div> 
    </div>
</div>